.wrapper {
  margin-bottom: 1rem;
}

.input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.7rem 0.9rem;
  background: #fff;
  transition: 0.2s;
}

.input:focus,
.input:hover {
  outline: none;
  border-color: #fb1;
  background: white;
  box-shadow: 0 0 0 3px #fea;
}

.label {
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}

.error {
  color: #e63946;
  font-size: 0.875rem;
  margin-top: 0.35rem;
}
